vendor/
node_modules/
.env
.env.*
!.env.example
storage/*.key
storage/app/*
!storage/app/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
bootstrap/cache/*.php
public/spa/*
!public/spa/.gitkeep
.git/
.gitignore
.idea/
.vscode/
*.log
docker/mysql-data/
